/*<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>*/

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v5/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
  padding: 0;
  margin: 0;
  background-color: none;
  font-family: Verdana, Geneva, sans-serif;
}

a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}

#navigation{
  /*display: flex;*/
  //flex-direction: row;
  position: relative;
  //position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 40px;
  z-index: 1;
}

#logo-container{
  background-color: white;
  width: 100%;
  height: 220px;
}

#logo{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  //margin-bottom: 50px;
  top: 15px;
  position: relative;
}

#logo-small{
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  
}
#nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  //margin-bottom: 10px;
  position: relative;
  top: 10px;
}

#home-photo{
  width: 100%;
  position: relative;
}

#about-container{
  background-color: white;
  position: relative;
  top:0;
  margin-top: -35px;
}

#about-me-header{
  font-family: "Great Vibes";
  font-size: 3em;
  text-align: center;
  padding-top: 25px;
}

#about-paragraph{
  max-width: 800px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

#home-photo-two{
  //width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -2;
}

#services-container{
  background-color: #333333;
  //height: 400px;
  position: relative;
  top: 200px;
  //top: 0;
  color: white;
}

#services-header{
  font-family: "Great Vibes";
  font-size: 3em;
  text-align: center;
  padding-top: 25px;
  
}

#service-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  //font-family: 'Great Vibes';
  font-size: 2em;
  max-width: 800px;
  margin-top: -20px;
  margin-bottom: 25px;
  background-color: none;
}

.service-item{
  background-color: none;
  width: 250px;
  height: 50px;
  text-align: center;
}

#see-pricing-button-container{
  background-color: none;
  width: 100%;
  height: 100px;
}

#see-pricing-button{
  width: 200px;
  height: 50px;
  background-color: #333333;
  margin: auto;
  text-align: center;
  border: 3px solid #ffff99;
  color: #ffff99;
  cursor: pointer;
  //margin-bottom: 50px;
}

footer{
  position: relative;
  top: 200px;
  //bottom: 0px;
  height: 25px;
  width: 100%;
  background-color: white;
  text-align: center;
  color: black;
}
